.top-header {
    display: flex;
    background-color: rgba(255, 205, 158, 1);

}

.left {
    align-items: flex-start;
    height: auto;
    width: auto;
}

.right {
    align-items: flex-end;

    height: auto;
    width: auto;
}

.bottom-header {
    display: flex;
    background-color: black;
}

.leftt {
    align-items: flex-start;
    height: auto;
    width: 50%;
}

.rightt {
    align-items: flex-end;
    text-align: end;
    height: auto;
    width: 50%;
}